body {
  background-color: rgb(145, 208, 238)
}
h1{
  float:left;
}
img{
  float: right;
}
.container {
  padding: 100px;
  margin-top: 50px;
  background-color: rgba(190, 223, 238, 0.582);
  border-radius: 5px;
}
